<div class="whole_page">

  <div class="content_container">

    <div class="role_title">

      <h3>{{roleTitle.toUpperCase()}}</h3>

    </div>

    <div class="candidates_table">

      <div class="table_header">
        <h3>{{totalCandidates}} Candidatos Cadastrados</h3>
      </div>

      <div>
        <p-table [value]="actualCandidates" sortField="match" [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Match</th>
              <th>Status</th>
              <th>Nota</th>
            </tr>
          </ng-template>

          <ng-template let-candidato pTemplate="body">
            <tr>
              <td>{{ candidato.nome }}</td>
              <td>{{ candidato.match }}%</td>
              <td>
                <p-tag *ngIf="candidato.match > 80" [value]="'Aprovado'" [severity]="'success'"></p-tag>
                <p-tag *ngIf="candidato.match <= 80" [value]="'Reprovado'" [severity]="'danger'"></p-tag>
              </td>
              <td><p-rating [(ngModel)]="candidato.nota" [stars]="5" [cancel]="false" [readonly]="true" /></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

  </div>
</div>
