.whole_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_container {
  padding: 3rem;
  margin: 2rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.job_title {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  width: 100%;

}

.table {


}
.table_title {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 18px;
  text-align: left;

}
