.whole_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_container {
  padding: 3rem;
  margin: 2rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.role_cell {
  .role_title {
    color: blue;
    text-decoration: underline;
  }

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #e0dfdf;
    cursor: pointer;
  }
}

.content_footer {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}
