@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header {
  height: 3.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons_container {
  margin-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidebar_button {
  color: white;
  background-color: #3b82f6;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #2356a8;
  }
}

.header_title {
  color: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 22px;
}
